
.customDatePicker {
    :global {
        input::placeholder {
            color: #7886A0 !important;
        }
        .anticon-swap-right {
            color: white;
        }
        .anticon-close-circle {
            background: transparent;
        }
    }
}
