@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: poppins;
  src: url(../public/assets/fonts/poppins/Poppins-Black.otf);
}

@font-face {
  font-family: poppins-bold;
  src: url(../public/assets/fonts/poppins/Poppins-Bold.otf);
}

@font-face {
  font-family: semi-poppins-bold;
  src: url(../public/assets/fonts/poppins/Poppins-SemiBold.otf);
}

@font-face {
  font-family: poppins-medium;
  src: url(../public/assets/fonts/poppins/Poppins-Medium.otf);
}

@font-face {
  font-family: poppins-thin;
  src: url(../public/assets/fonts/poppins/Poppins-Thin.otf);
}

@font-face {
  font-family: poppins-regular;
  src: url(../public/assets/fonts/poppins/Poppins-Regular.otf);
}

html {
  background: black;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: semi-poppins-bold;
  color: #20242D;
  background-image: url(../public/assets/images/app-bg.png);
  background-position: 0 0;
  background-size: 100% 100%;
  background-repeat: repeat-y;
  overflow-x: hidden;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
  box-sizing: border-box
}

@media screen and (max-width: 768px) {
  body {
    background-image: none; 
    background-color: #060710;
  }
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.thin-text {
  font-family: poppins-thin !important;
}
.regular-text {
  font-family: poppins-regular !important;
}
.normal-text {
  font-family: poppins-medium !important;
}

.semi-bold {
  font-family: semi-poppins-bold !important;
}

.carousel .slide {
  text-align: initial !important;
}

.control-next, .control-prev, .carousel-status {
  display: none !important;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

::-webkit-scrollbar {
  width: 1px;
  /* height: 2em */
}

div {
  /* overflow-x: hidden !important; */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.hamster-modal > .ant-modal-content {
  padding: 40px 49px 20px;
  border-radius: 40px;
}
@media screen and (max-width: 768px) {
  .hamster-modal > .ant-modal-content {
    padding: 10px 15px;
  }
}
.hamster-modal > .ant-modal-content,
.hamster-modal .ant-modal-header,
.hamster-modal .ant-modal-footer {
  background-color: #20242D;
}
.hamster-modal > .ant-modal-content .ant-modal-close {
  top: 40px;
  right: 49px;
}
.hamster-modal .ant-modal-close-icon {
  font-size: 24px;
  filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(186deg) brightness(95%) contrast(105%);
}

.css-ul1er5 {
  z-index: 300;
}

*, *::before, *::after {
  transition: none!important;
}

.banner-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  background: linear-gradient(90deg, #FF3BFF 0%, #ECBFBF 38.02%, #5C24FF 75.83%, #D94FD5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.vpbutton:after {
  border-radius: 8px !important;
}

.app-input .container {
  border: none !important;
  box-shadow: none !important;
}

.progress-label {
  position: absolute; 
  left: 50%; 
  color: #3c3636;
  display: none;
}

.back-button {
  position: absolute;
  left: 20px;
  font-size: 30px;
  cursor: pointer;
}

.dark-input input {
  background-color: #20242D !important;
  color: white;
}
.dark-input input::placeholder  {
  color: white;
}
.gray-input input {
  background-color: #353C4B !important;
  color: white;
}
.gray-input input::placeholder  {
  color: white;
}
.dark-input, .gray-input, .dark-input input, .gray-input input {
  cursor: pointer !important;
}
.ant-picker-panel-container {
  background: #20242D !important;
}

.ant-picker-body table th {
  color: white !important;
}
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range {
  color: #20242D !important;
}
.ant-picker-dropdown .ant-picker-cell-in-view {
  color: #F0F3FA !important;
}
.ant-picker-year-btn {
  color: #F0F3FA !important;
}
.ant-picker-header-super-prev-btn, .ant-picker-header-prev-btn {
  color: #F0F3FA !important;
}
.ant-picker-header-super-next-btn, .ant-picker-header-next-btn {
  color: #F0F3FA !important;
}
.ant-picker-month-btn {
  color: #F0F3FA !important;
}
.ant-picker-input input {
  color: #F0F3FA !important;
}
.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light {
  background-color: #20242D !important;
}
.h-52.overflow-scroll {
  border-radius: 16px !important;
}

table tr {
  border-bottom: solid 1px #4A5469;
}
table tr th {
  text-align: left;
}


input:focus {
  outline: none !important;
  border: none !important;
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

@media screen and (max-width: 768px) {
  .pool-control-btn {
    font-size: 14px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    height: 36px;
    max-width: 110px;
  }

  .app-input .container {
    max-width: 100% !important;
  }

  .app-input .container input {
    font-size: 12px !important;
    height: 40px !important;
  }
  .app-input.buy-condition .container input {
    font-size: 12px !important;
    height: 43px !important;
  }

  .app-input .container .left-icon {
    top: 47% !important;  
  }
  .app-input .container .left-icon svg {
    width: 14px !important;
    height: 14px !important;
  }
}

@media screen and (max-width: 768px) {
  .ant-picker-panels {
    display: block !important;
    text-align: center;
  }
  .ant-picker-dropdown {
    /* width: calc(100vw - 30px) !important; */
  }
}

.ReactCollapse--collapse {
  transition: height 500ms !important;
}

.pocket-top-item {
  background-image: url(../public/assets/images/pocket-bg.png);
  min-height: 150px;
  background-position: center;
  border-radius: 10px;
}